body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.contact-bar p {
    margin-bottom: 0;
}

.small-heading {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 3px;
}

p {
    font-size: 15px;
}

.banner-heading {
    font-size: 90px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

.relative-container {
    position: relative;
}


/* mnm */
.relative-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 0, 53, 0.5);
    /* Change the color and opacity here */
    z-index: 1;
    /* Ensure the overlay is behind the text and image */
}

.absolute-element {
    position: absolute;
    top: 70%;
    /* Adjust to position the text vertically centered */
    left: 50%;
    /* Adjust to position the text horizontally centered */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    padding: 20px;
    box-sizing: border-box;
    /* Include padding within width and height */
}

.dropdown-item:hover {
    background-color: #2826c1;
    color: white;
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        background-color: #010035;
        border: none;
    }

    .dropdown-item {
        color: white;
    }

    .small-heading {
        font-size: 16px;
    }

    .banner {
        font-size: 80px;
    }
}

@media screen and (max-width: 768px) {
    .small-heading {
        font-size: 14px;
    }

    .banner {
        font-size: 50px;
    }

    .banner-heading {
        font-size: 65px;
    }
}

@media screen and (max-width: 576px) {
    .small-heading {
        font-size: 10px;
    }

    .banner {
        font-size: 25px;
    }

    .absolute-element p {
        font-size: 10px;
    }

    .banner-heading {
        font-size: 45px;
    }
}  

img {
    width: 100%;
    height: auto;
    display: block;
}

.heading {
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    font-weight: bold;
}

.no-underline {
    text-decoration: none;
}

.question {
    border: 1px solid #2826c1;
    padding: 10px;
    width: 100%;
}

.question p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

.cormorant {
    font-family: 'Cormorant Garamond', serif;
}

.send-message-btn {
    background-color: #36348e;
    color: white;
    transition: background-color 0.5s ease;
}

.send-message-btn:hover {
    background-color: rgb(255, 197, 58);
}

/* hhn */
.banner-text {
    position: absolute;
    top: 70%;
    /* Adjust to position the text vertically centered */
    left: 30%;
    /* Adjust to position the text horizontally centered */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
    /* Include padding within width and height */
    z-index: 1000;
}

/* hhn */

/* hhn */

.academic-items {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.academic-items:hover {
    background-color: #36348E;
    transform: scale(1.05);
}

.academic-items:hover .academic-icon {
    color: #f9f9f9;
}

.academic-items:hover .academic-header {
    color: rgb(255, 197, 58);
}

.academic-items:hover .academic-description {
    color: #f9f9f9;
}

.academic-icon {
    font-size: 35px;
    color: #36348E;
}

.academic-header {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
}

.image {
    background-image: url('./images/academic-background.jpg'), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    position: relative;
}


.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter-icon {
    font-size: 20px;
    color: #36348E;
}

.image-container {
    position: relative;
    width: 100%;
    /* Adjust the width as needed */
    max-width: 600px;
    /* Set a maximum width if necessary */
    margin: auto;
    /* Center the container */
}

.uni-image,
.stu-image {
    width: 100%;
    height: auto;
    display: block;
    /* Remove any default inline styles */
}

.stu-image {
    position: absolute;
    top: 25%;
    right: 50%;
}

.footer-logo {
    width: 300px;
}

.link-list li a {
    text-decoration: none;
    color: #f9f9f9;
}

.progress-bar {
    background-color: #36348E;
}

.lect-name {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.lect-role {
    font-size: 15px;
    color: #36348E;
}

/* hhn */