body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contact-bar p {
    margin-bottom: 0;
}

.small-heading {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 3px;
}

p {
    font-size: 15px;
}

.banner-heading {
    font-size: 90px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

.relative-container {
    position: relative;
    height: 550px;
}

.contact-banner {
    background-image: url('images/call-center-full.jpg');
    background-size: cover;
}

.faq-banner {
    background-image: url('images/senior-lecturer-writing-something-on-blackboard-and-showing-one-finger-up-e1617782850105.jpg');
    background-size: cover;
    background-position: center;
}

.academic-banner {
    background-image: url('images/interior-of-busy-university-campus-building-with-students-e1617782600579.jpg');
    background-size: cover;
    background-position: center;
}

.lecturer-banner {
    background-image: url('images/report-of-business-coach-e1617782957703.jpg');
    background-size: cover;
    background-position: center;
}

.index-banner {
    background-image: url('images/university-at-night.jpg');
    background-size: cover;
    background-position: center;
}

/* mnm */
.relative-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 0, 53, 0.5);
    /* Change the color and opacity here */
    z-index: 1;
    /* Ensure the overlay is behind the text and image */
}

.absolute-element {
    position: absolute;
    top: 70%;
    /* Adjust to position the text vertically centered */
    left: 50%;
    /* Adjust to position the text horizontally centered */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    padding: 20px;
    box-sizing: border-box;
    /* Include padding within width and height */
}

.dropdown-item:hover {
    background-color: #2826c1;
    color: white;
}

.heading {
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        background-color: #010035;
        border: none;
    }

    .dropdown-item {
        color: white;
    }

    .small-heading {
        font-size: 16px;
    }

    .banner {
        font-size: 80px;
    }
    .heading {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .small-heading {
        font-size: 14px;
    }

    .banner {
        font-size: 50px;
    }

    .banner-heading {
        font-size: 65px;
    }
    .heading {
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .small-heading {
        font-size: 10px;
    }

    .banner {
        font-size: 25px;
    }

    .absolute-element p {
        font-size: 10px;
    }

    .banner-heading {
        font-size: 45px;
    }

    .relative-container {
        height: 300px;
        background-position: center;
    }
    .heading {
        font-size: 30px;
    }
}  

img {
    width: 100%;
    height: auto;
    display: block;
}



.no-underline {
    text-decoration: none;
}

.question {
    border: 1px solid #2826c1;
    padding: 10px;
    width: 100%;
}

.question p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

.cormorant {
    font-family: 'Cormorant Garamond', serif;
}

.send-message-btn {
    background-color: #36348e;
    color: white;
    transition: background-color 0.5s ease;
}

.send-message-btn:hover {
    background-color: rgb(255, 197, 58);
}

/* hhn */
.banner-text {
    position: absolute;
    top: 70%;
    /* Adjust to position the text vertically centered */
    left: 30%;
    /* Adjust to position the text horizontally centered */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
    /* Include padding within width and height */
    z-index: 1000;
}

/* hhn */

/* hhn */

.academic-items {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.academic-items:hover {
    background-color: #36348E;
    transform: scale(1.05);
}

.academic-items:hover .academic-icon {
    color: #f9f9f9;
}

.academic-items:hover .academic-header {
    color: rgb(255, 197, 58);
}

.academic-items:hover .academic-description {
    color: #f9f9f9;
}

.academic-icon {
    font-size: 35px;
    color: #36348E;
}

.academic-header {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
}

.image {
    background-image: url('./images/academic-background.jpg'), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    position: relative;
}


.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter-icon {
    font-size: 20px;
    color: #36348E;
}

.image-container {
    position: relative;
    width: 100%;
    /* Adjust the width as needed */
    max-width: 600px;
    /* Set a maximum width if necessary */
    margin: auto;
    /* Center the container */
}

.uni-image,
.stu-image {
    width: 100%;
    height: auto;
    display: block;
    /* Remove any default inline styles */
}

.stu-image {
    position: absolute;
    top: 25%;
    right: 30%;
}

.footer-logo {
    width: 300px;
}

.link-list li a {
    text-decoration: none;
    color: #f9f9f9;
}

.progress-bar {
    background-color: #36348E;
}

.lect-name {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.lect-role {
    font-size: 15px;
    color: #36348E;
}

/* hhn */

.fa-brands {
    cursor: pointer;
    transition: color 0.3s ease;
}

.fa-brands:hover {
    color: #36348E;
}

.relative-container .col{
    color: #ffffff;
    margin-left: 15px;
}

/* visionmission */

.vision-heading{
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    font-weight: 900;
}

/* about-us */

.about-us{
    position: relative;
}

.about-us .image1{
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    width: 40%;
    /* height: 1000px; */
}

.about-us .image1 img{
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.about-us .image2 img{
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.about-us .image2{
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    width: 55%;
    /* height: 1200px; */
}

.about-us .image1:hover img{
    transform: scale(0.9);
    filter: brightness(70%);
}

.about-us .image2:hover img{
    transform: scale(0.9);
    filter: brightness(70%);
}

.aboutus{
    margin-top: 100px;
    padding-left: 0;
}

.aboutuslist{
    margin-top: 40px;
}

.aboutusicon{
    font-size: 15px;
    padding-right: 8px;
    color: #2826c1;
}

.aboutusplus{
    font-size: 25px;
    padding-left: 8px;
    color: #2826c1;
}

.aboutuslist h1{
    margin-top: 30px;
    font-size: 50px;
}

/* knowledge and experience */

.knowledge{
    margin-top: 100px;
}

.knowledge-heading{
    font-size: 26px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}

.knowledge-list{
    margin-top: 25px;
}

.knowledge-icon .uni{
    font-size: 25px;
    padding: 20px;
    background-color: #36348e;
    border-radius: 50%;
    color: #ffffff;
    background-size: 20px;
    transition: background-color 0.4s ease-in-out;
}

.knowledge-icon .online{
    font-size: 25px;
    padding: 20px;
    background-color: #ffc53a;
    border-radius: 50%;
    color: #292928;
    background-size: 20px;
    transition: background-color 0.4s ease-in-out;
}

.knowledge-icon .campus{
    font-size: 25px;
    padding: 20px;
    background-color: #2B7258;
    border-radius: 50%;
    color: #ffffff;
    background-size: 20px;
    transition: background-color 0.4s ease-in-out;

}

.knowledge-list:hover .knowledge-icon .uni {
    background-color: #ffc53a;
    color: #292928;
}

.knowledge-list:hover .knowledge-icon .online {
    background-color: #36348e;
    color: #ffffff;
}

.knowledge-list:hover .knowledge-icon .campus {
    background-color: #ffc53a;
    color: #292928;
}

.applyconnect{
    margin-top: 80px;
    column-gap: 0;
}

.knowledge-letter-apply{
    background-color: #36348e;
    color: #ffffff;
}

.knowledge-letter-connect{
    background-color: #ffc53a;
    color: #292928;
}

.knowledge-letter-apply h2{
    margin-top: 20px;
}

.knowledge-letter-apply p{
    padding: 10px;
}

.knowledge-letter-connect h2{
    margin-top: 20px;
}

.knowledge-letter-connect p{
    padding: 10px;
}

/* largest-Univeristy progress bar  */

.largest-paragraph{
    height: 100%;
    width: 100%;
    /* padding: 120px; */
    background-color: #2B7258;
    color: #ffffff;

}

.largest-heading{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}

/* join us  */

.joinus-container {
    position: relative;
    height: 100%; /* Set the desired height */
    overflow: hidden;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-color-overlay {
    background-color: #010035;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.absolute-element-largest {
    position: absolute;
    /* width: 800px; */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Add more styling for your absolute element */
}

.absolute-element-largest a{
    background-color: #ffc53a;
    text-decoration: none;
    color: black;
    padding: 20px;
    
}

.course-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

.course-text {
    font-size: 14px;
}

.course-card {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.course-card:hover {
    transform: scale(1.1);
}

.quote-container {
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
}

.quote-text {
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    color: #010035;
}

.vision-text, 
.mission-text {
    line-height: 30px;
    letter-spacing: 1.2px;
}
